.reply-container {
  overflow: auto;
}

.reply-container table {
  padding: 0;
  margin: 0;
  gap: 0;
  max-width: 100%;
}

.reply-container table,
.reply-container thead,
.reply-container th,
.reply-container tr,
.reply-container td {
  border: 1px solid #3d3d3d;
}

.reply-container blockquote {
  background: #ecf0f1;
  border-radius: 8px;
  padding: 10px 16px;
  margin: 12px 0;
}

.reply-container img {
  max-width: 30%;
  max-height: 300px;
}
