.knowledge-container {
  overflow: auto;
}

.knowledge-container table {
  padding: 0;
  margin: 0;
  gap: 0;
  max-width: 100%;
}

.knowledge-container table,
.knowledge-container thead,
.knowledge-container th,
.knowledge-container tr,
.knowledge-container td {
  border: 1px solid #3d3d3d;
}

.knowledge-container blockquote {
  background: #ecf0f1;
  border-radius: 8px;
  padding: 10px 16px;
  margin: 12px 0;
}

.knowledge-container img {
  max-width: 30%;
  max-height: 300px;
}
